@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}
::-webkit-slider-thumb {
  @apply h-3 bg-reverse-color w-1;
  -webkit-appearance: none;
  box-shadow: -100vh 0 0 100vh #f74549;
}
::-webkit-slider-runnable-track {
  @apply bg-plain-color w-full h-1 overflow-clip
}
main{
  @apply pl-3 pr-3
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-5rem) scale(1.5);
  }
}
@keyframes scaleFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-scale-fade {
  animation: scaleFade 700ms forwards;
}
